body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PixelFont', sans-serif;
    background: #f0f0f0;
}

.container {
    width: 100vw; /* 9/16 of the viewport width */
    height: calc(100vw * (16 / 9));
    max-height: 177.78vh; /* 16/9 of the viewport height */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-container {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    width: 100%; /* Full width of the parent container */
    height: 50vh; /* 1/2 height of the viewport */
    overflow: hidden; /* Prevent overflow */
    flex-direction: column;
}

.start-container img {
    max-width: 100%; /* Restrict width to container's width */
    max-height: 100%; /* Restrict height to container's height */
    object-fit: contain; /* Maintain the aspect ratio of the image */
}

.start-button{
    font-size: 18px;
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    background-color: #f8eab6;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 6vh;
    padding: 1vh 2vw;
    margin-top: 1em;
    font-family: "Garamond";
}